# Ignore target at the top level
/target/
# Ignore child project's targets as well
/*/target/
# And any grandchildren ...
/*/*/target/
*/target
bin/
.gradle
/build/
!gradle/wrapper/gradle-wrapper.jar
/trade-user-points/target
/vas-ms-common-components/target

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
target/
release.properties

### IntelliJ IDEA ###
.idea
/out/
*.iws
*.iml
*.ipr

### NetBeans ###
nbproject/private/
build/
nbbuild/
dist/
nbdist/
.nb-gradle/

### Vs Code ###
.vscode

# Compiled class file
*.class

# Log file
*.log

# BlueJ files
*.ctxt

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Package Files #
*.jar
*.war
*.ear
*.zip
*.tar.gz
*.tar
*.rar